.block-files-th {

}

.block-files-item-hidden {
    display: none;
}

.block-files-table {

}

#block-files-show-more-button {
    display: inline;
    float: right;
}

#block-files-show-less-button {
    display:none;
    float: right;
}

#block-region-side-pre .block-files-table {
    width: 100% !important;
    margin-left: 0;
}

#block-region-side-post .block-files-table {
    width: 100% !important;
    margin-left: 0;
}
